<div>
    <div class="row doc-{{documentManager.viewType}}" >
        <div class="col-md-4">
            <div ng-hide="documentManager.treeManager.tree.length" class="m-t">
                <div class="alert alert-danger alert-dismissible">
                    No Documents were found
                </div>
                <div style="display:none;">
                    Document Template: {{auditAppSettings.audit_document_template.setting_value}} <br/>
                    Target Folder: {{auditAppSettings.file_target_folder.setting_value}}
                </div>
                <div ng-show="auditAppSettings.audit_document_template.setting_value && auditAppSettings.file_target_folder.setting_value">
                    <button class="btn btn-default" ng-click="createAuditDocument()">Create Document</button>
                </div>
                <div ng-hide="auditAppSettings.audit_document_template.setting_value && auditAppSettings.file_target_folder.setting_value">
                    Setup Template and Target Paths <a target="window1" class="text-info" ui-sref="app.audit.setup.setting"> Here</a>
                </div>
            </div>
            <div ng-include="documentTemplate.list">
            </div>
            <div class="p-a m-t">
            	You can also view <a class="text-info" ui-sref="app.customer.detail.documents({customer_id:auditManager.currentAudit.customer.customer_id})">client documents.</a>
             </div>
        </div>
        <div class="col-md-8 document-detail" >
        	
            <div class="padding" ng-if="documentManager.editedDocument"  bm-ui-permission="{{documentManager.editedDocument.permission}}" login-user="app.loginUser" >
                <!--{{documentManager.editedDocument.document_name}}
                <br/>{{documentManager.editedDocument.system_name}}
                <div ng-if="documentManager.selectedNode.data.system_name=='output'" d-complete="{{canGenerate={output_qrcode:false,output_fs:false} }}">
                	<div ng-repeat="child in documentManager.selectedNode.children" d-complete="{{canGenerate[child.data.system_name]=(child.data.document_path!='')}}">
                    	{{child.data.system_name}} {{canGenerate}}
                    </div>
                    <button class="btn btn-default" ng-click="generateQRCode(documentManager.editedDocument)">Insert QR Code </button>
                    
                </div>
                -->
                
                <div bm-ui-permission="app.audit.fs" login-user="app.loginUser"  ng-show="documentManager.selectedNode.data.system_name=='output'">
                	
                    
                    <button class="btn btn-default" ng-click="insertQRCode(documentManager.selectedNode)">Insert QR Code </button> &nbsp;
                    <button class="btn btn-default" ng-click="publishReportToRemote()">Publish on Remote</button> &nbsp; &nbsp; 
                    <a class="text-info" href="{{auditAppSettings.verification_site.setting_value}}?requestCode={{auditManager.currentAudit.engagementInfo.verification_code}}">Verify FS</a><br/>
                    <div ng-if="insertQRCodeMessage">
                    <h4>Insert QR Image Result</h4>
                    {{insertQRCodeMessage}}
                    </div>
                    <div ng-if="publishFSMessage">
                    <h4>Publish Result</h4>
                    <br/>
                    {{publishFSMessage}}
                    </div>
                </div>
                <div ng-show="documentManager.editedDocument.system_name=='output_qrcode'">
                    <button class="btn btn-default" ng-click="generateQRCode(documentManager.editedDocument)">Generate QR Code</button>
                </div>
                <div ng-show="documentManager.editedDocument.system_name=='output_fs'">
                    <button class="btn btn-default" ng-click="generateFSToDoc(documentManager.editedDocument,true)">Generate FS</button>
                </div>
                <div ng-show="documentManager.editedDocument.system_name=='output_awp'">
                    <button class="btn btn-default" ng-click="generateFSToDoc(documentManager.editedDocument,false)">Generate AWP</button>
                </div>
                
            </div>
            
            <div ng-include="documentTemplate.detail" class="">
                </div>
        </div>
    </div>
</div>
