<style>
	.ui-select-bootstrap>.ui-select-match {border:none ;border-bottom:solid 1px #0cc2aa !important;}
	
	.ui-select-bootstrap .ui-select-search {border:none ;border-bottom:solid 1px #0cc2aa !important;}
</style>
<div class="padding" bm-ui-permission="app.audit.adjustment" login-user="app.loginUser">
	<div ng-if="dataImportManager.windowVisible">
        <span ng-include="dataImportManager.importOptions.templatePath"></span>
	</div>
	<div class="box">
    	<div class="box-header {{audit_adjustmentManager.formData.list.headerStyle}}">
			<h2>{{audit_adjustmentManager.formData.list.title}}</h2>
			<small>{{audit_adjustmentManager.formData.list.subTitle}}</small>
        </div>
		<div class="box-tool">
            <ul class="nav" >
                <li class="nav-item inline">
                    <input id="filter_AuditAdjustment" type="text" placeholder="Search" class="form-control input-sm w-auto inline m-r"/>
                </li>
                <li class="nav-item inline">
                    <button uib-tooltip="Add Adjustment" ng-click="addAdjustment()" ng-disabled="editedAdjustmentIndex>=0"
                    	class="btn btn-default btn-xs primary"> &nbsp;<i class="fa fa-plus"></i>&nbsp; </button>
                </li>
                <li class="nav-item inline">
                    <button uib-tooltip="Add Account" ng-click="showCreateAccountModal()" 
                    	class="btn btn-default btn-xs"> &nbsp;<i class="fa fa-plus"></i> Account</button> &nbsp; &nbsp; &nbsp;
                </li>
                
            </ul>
            &nbsp;
        </div>
                
        <div class="box-body">
                   <div  ng-include ="'app/audit/content/adjustment/audit_adjustment_list_editor.html'" ngs-include-replace>
</div>
		
		</div>

  </div>
</div>



