<!-- -->
<div class="navbar">
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
      <i class="fa fa-bars"></i>
    </a>

    <div class="navbar-item pull-left h5"  >
    	<span ng-bind="$state.current.data.title" id="pageTitle"></span>
        <span style="font-size:0.7em; opacity:0.8; font-style:italic;" ng-bind="$state.current.data.subTitle"></span>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item dropdown">
        <a class="nav-link clear" href data-toggle="dropdown">
          <span class="avatar w-32">
            <img ng-src="files/uploads/{{app.loginUser.profile_picture}}"  alt="...">
            <i class="on b-white bottom"></i>
          </span>
        </a>
        <div ui-include="'core/views/blocks/dropdown.user.html'"></div>
        
      </li>
      <li class="nav-item hidden-md-up">
        <a class="nav-link" data-toggle="collapse" data-target="#collapse">
          <i class="fa fa-ellipsis-v"></i>
        </a>
      </li>
    </ul>

    <div class="collapse navbar-toggleable-sm" id="collapse">
    	<span ng-repeat="h in app.headers track by $index"><span ui-include="h"></span>
    		
		</span>
      <ul class="nav navbar-nav text-center pull-right" style="padding-right:8px;">
      <li class="nav-item dropdown pos-stc-xs">
        <a class="nav-link" href data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span class="label label-sm up warn">3</span>
        </a>
        <div uis-include="'core/views/blocks/dropdown.notification.html'"></div>
      </li>
			<li class="nav-item">
            <a class="nav-link" ui-fullscreen="">
              <span><i class="fa fa-fw fa-arrows-v"></i></span> 
            </a>
          </li>
		<li class="nav-item dropdown ">
            <a class="nav-link" href ng-click="messaging.showMessages()">
              <i class="fa fa-comments"></i>
              <span class="label label-sm up info">4</span>
            </a>
		</li>
		<li class="nav-item dropdown ">
            <a class="nav-link" href ng-click="documentManager.showDocuments()">
              <i class="fa fa-briefcase"></i>
              <span class="label label-sm up info">2</span>
            </a>
		</li>
        
      </ul>     
      <ul class="nav navbar-nav" style="display:none;">
        <li class="nav-item dropdown">
          <a class="nav-link" href data-toggle="dropdown">
            <i class="fa fa-fw fa-plus text-muted"></i>
            <span>New</span>
          </a>
          <div ui-include="'core/views/blocks/dropdown.new.html'"></div>
        </li>
      </ul>
    </div>
</div>
