<div class="dropdown-menu pull-right dropdown-menu-scale">
  <a class="dropdown-item" ui-sref="app.user.profile.messages">
    <span>Inbox</span>
    <span class="label warn m-l-xs">3</span>
  </a>
  <a class="dropdown-item" ui-sref="app.user.profile.home">
    <span>Profile</span>
  </a>
  <a class="dropdown-item" ui-sref="app.user.profile.account_management">
    <span>Settings</span>
    <span class="label primary m-l-xs">3/9</span>
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" ui-sref="app.docs">
    Need help?
  </a>
  <a class="dropdown-item" ng-click="logout()">Sign out</a>
</div>
