<style>
        @media screen
        {
            /*.page {padding-left:20mm; padding-right: 20mm; margin-bottom: 10mm;}
            .page { border: solid 1px #000; box-sizing: border-box;}*/
        }
        
        @media print {
            
            @page {size:a4; margin-top: 30mm; margin-bottom: 30mm;}
           /* @page :first {border-top:solid 1px #000;margin-top:50mm;}*/
            @page :right {border-left:solid 1px #000; margin-left: 30mm;margin-right:10mm;}
            @page :left {border-right:solid 1px #000; margin-right: 30mm;margin-left:10mm;}
            
           /* body {color:aqua;paddings-left: 30mm; paddings-right:30mm; }*/
            .page-title {border-bottom: solid 1px #000; font-size: 1.5em; padding-left: 10mm;}
            .printables1 .page {page-break-after:always !important; border: solid 1px #900; 
                background-color: rgba(255,0,0,0.5); margin-bottom: 10mm !important;}
            .printables1  .no-page-break,.print-container ps,.print-container tables {page-break-inside:avoid;}
            .printables1 .new-page {page-break-before:always !important;}
        }
    </style>

<div bm-ui-permission="app.audit.printables" login-user="app.loginUser" class="printables1">
	<div style="position:fixed;top:58px; height:45px;left:170px;right:0; z-index:1030; background-color:#f0f0f0" class="box-shadow none-print b-b">
		<div class="nav-active-border b-info">
			<div class="pull-right p-t p-r none-print">
				<a uib-tooltip="Print"  class="btn primary btn-sm" href="javascript:window.print()"> <i class="fa fa-print"></i> </a> &nbsp;
				<button uib-tooltip="Configure" class="btn btn-default btn-sm"  data-template-url="app/audit/content/printables/popover.printable.config.html" data-placement="left" 
                	ng-hide="activeDocument.configButton"  data-animation="am-flip-x" bs-popover=""> <i class="fa fa-cogs"></i> </button>
                
                <button ng-click="onLicenseConfigClick()" uib-tooltip="Configure" class="btn btn-default btn-sm"  ng-if="activeDocument.name=='license'" data-toggle="modal" data-target="#modalLicenseConfig" ui-toggle-class="modal-open-aside" ui-target="body"><i class="fa fa-cogs"></i> </button>
				&nbsp; &nbsp; &nbsp;
                <!--
				<button class="btn btn-xs btn-default none-print" ng-click="resizePagesForPrint()">Fit</button>
				&nbsp; &nbsp;  &nbsp;  &nbsp;
                {{activeDocument.name}}
-->
			</div>
			<ul class="nav nav-md p-l none-print">
				<li bm-ui-permission="app.audit.printables.fs" login-user="app.loginUser" class="nav-item inline"> <a class="nav-link" ui-sref="app.audit.detail.printables.fs"> <span class="text-md">FS</span> </a> </li>
                
				<li ng-repeat="doc in printableDocs" bm-ui-permission="{{doc.permission}}" login-user="app.loginUser" class="nav-item inline"> <a class="nav-link {{activeDocument.name==doc.name?'active':''}}" ng-click="setActiveDoc(doc.name)"> <span class="text-md">{{doc.label}}</span> </a> </li>
			</ul>
		</div>
	</div>
    
    
	<div ng-if="auditDetailLoaded && activeDocument.contents" style="padding-top:70px;" class="b-t  bs-info clear tabs-contents print-container header-{{activeDocument.param.header}} footer-{{activeDocument.param.footer}}">
		<div  ng-repeat="doc in activeDocument.contents" class="printable-doc {{doc.style}}">
			<div   ng-include ="doc.docPath" >
			</div>
		</div>
        <!--
		<div ng-repeat="p in ['',1,2,3,4,5]" ng-show="printableParams.showPageNo && p" class="prints-only page-number p-a-sm" style="top:{{$index*297 + 250}}mm;" >
			{{p}}
		</div>
        -->
	</div>
    
	<div ng-if="auditDetailLoaded && activeDocument.page" style="padding-top:70px;" class="b-t  bs-info clear tabs-contents print-container header-{{activeDocument.param.header}} footer-{{activeDocument.param.footer}}">
		<div ng-include ="activeDocument.page">
		</div>
        <!--
		<div ng-repeat="p in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-show="activeDocument.param.showPageNo && p" class="print-only page-number p-a-sm" style="top:{{$index*297 + 250}}mm;" >
			{{p}}
		</div>
        -->
	</div>
</div>
<script type="text/ng-template" id="dynamic_letters_template.html">
    <div ng-if="activeDocument.param.letter_template">
	   <div ng-include ="'api/WebContentService/getContent/' + activeDocument.param.letter_template"></div>
    </div>
</script>
<script type="text/ng-template" id="deliverables_template.html">
    <div ng-if="activeDocument.param.letter_template">
	   <div ng-include ="'api/WebContentService/getContent/' + activeDocument.param.letter_template"></div>
    </div>
</script>


