<div class="printable printable-fs header-every-pages" bm-ui-permission="app.audit.printables.fs" login-user="app.loginUser">
    <div>
        <div class="fixed-header" >
            <div style="text-align: right;">
            <img ng-src="files/uploads/{{audit.verification_code}}.png" class="barcode" style="height:90px;"/>
                </div>
        </div>
        <div class="fixed-footer" >
            <div class="p-a" ng-include="'api/WebContentService/getContent/fs_footer'"></div>
            <div class="page-number-position">&nbsp;</div>
        </div>
        
        <div ng-include="'financial_statement.html'"></div>
        <div  ng-include="'page_no.html'" styles="position: fixed;"></div>
    </div>
</div>

<script type="text/ng-template" id="page_no.html">
    <div ng-repeat="pn in ["፩",3,4,5,6,7,8,9,10,11,12,13,14,15,16]" class="fs-page-number" style="top:{{297.9*($index+1) + 284}}mm;right:20mm;">{{pn}}</div>
</script>
<script type="text/ng-template" id="all_disclosure.html">
    <div ng-repeat="dn in auditManager.currentAudit.disclosureNotes" class="disclosure-note">
        {{dn.disclosure_note}}
    </div>
</script>
<script type="text/ng-template" id="fs_disclosure.html">
    <div>
        {{subNote.disclosure.disclosure_note}}
    </div>
</script>

<script type="text/ng-template" id="custome_report_grid.html">
    <div class="none-print hover-show pull-right">
            <button class="btn btn-sm primary" style="opacity: 0;">Design</button>
        </div>
    <table class="table table-condensed" >
        <tr ng-repeat="row in r.data" class="{{row.style}}">
            <td ng-repeat="col in row.columns" class="{{col.style}}" ng-include="fsHelper.cellTemplates['cell_'+col.type]">&nbsp;
                
            </td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="fs_cell_other.html">
    &nbsp;{{col.value}}
</script>
<script type="text/ng-template" id="fs_cell_number.html">
    &nbsp;{{col.value|number:2}}
</script>

<script type="text/ng-template" id="custome_report.html">
    
        <div class="none-print hover-show pull-right">
            <button class="btn btn-sm primary" bm-ui-permission="app.audit.printables.fs.design" login-user="app.loginUser" ng-click="fsHelper.showReportDesignWindow(r.reportName)">Design</button>
        </div>
        
    <table class="table table-condensed" >
        <thead>
        <tr>
            
            <th ng-repeat="col in r.columns" 
                ng-init="col.colDetail=fsHelper.columnDefinitions[col.field]" 
                class="{{col.colDetail.style}} " >{{col.headerLabel}} {{audit[col.colDetail.header]}} {{col.colDetail.headerLabel}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in r.reportRow track by $index" class="{{row.rowStyle.style}} {{row.reportDefRow.style}}" >
                <td ng-repeat="col in r.columns" class="{{col.colDetail.style}}" ng-include="col.colDetail.template">
                </td>
            </tr>
        </tbody>
        
    </table>
</script>

<script type="text/ng-template" id="fs_acct_label_value.html">
<!--
    {{row.reportDefRow.account}} - {{row.accountData.data.system_name}}<br/>
    {{row.reportDefRow.report_label}}<br/>
-->
    <span ng-show="row.reportDefRow.account==row.accountData.data.system_name && row.reportDefRow.report_label">    
        {{row.reportDefRow.report_label}}
    </span>
    <span ng-hide="row.reportDefRow.account==row.accountData.data.system_name && row.reportDefRow.report_label"> 
        {{row.accountData.data.report_label}}
    </span>
    
</script>


<script type="text/ng-template" id="fs_cell_value.html">
    <span>{{row.accountData.data[col.colDetail.value]}}</span>
</script>
<script type="text/ng-template" id="fs_balance_value.html">
    {{(row.accountData.data[col.colDetail.value]*row.accountData.data.normal_balance)|number:2}}
</script>

<script type="text/ng-template" id="fs_note_no.html">
    <a class="none-print" ng-click="scrollTo('note_' + row.accountData.note.index)">&nbsp;{{row.accountData.note.index}}&nbsp;</a>
    <a class="print-only" href="#note_{{row.accountData.note.index}}">&nbsp;{{row.accountData.note.index}}&nbsp;</a>
</script>

<script type="text/ng-template" id="fs_cover.html">
        <div class="middle-title"> 
    <table style="width:100%">
        	<tr>
            	<td class="text-right p-r" style="width:25%;" rowspan="3">
                	<img ng-src="files/uploads/{{auditManager.currentAudit.engagementInfo.verification_code}}.png" style="height:90px;"/>
                </td>
                <td class="text-2x22 p-l" style="font-size:1.4em;" contenteditable="">{{audit.client_name_cap}}</td>
            </tr>
            <tr><td class="text-md22 p-l" style="font-size:1.2em;" contenteditable="">Financial Statements</td></tr>
            <tr><td class="text-md22 p-l" styles="font-size:1em;" contenteditable="">{{audit.for_year_caps}}</td></tr>
            
        </table>
        </div>
</script>

<script type="text/ng-template" id="fs_toc.html">
        <table class="table table-condensed">

                            <tr ng-repeat="fs in auditFS.reports" >
                                <td>
                                    <a class="none-print" ng-click="scrollTo('report_' + fs.name)"> {{fs.title}} </a>
                                    <a class="print-only" href="report_{{fs.name}}"> {{fs.title}} </a>
                                    
                                </td>
                                <td> 
                                    <a class="none-print" ng-click="scrollTo('report_' + fs.name)">&nbsp; {{$index+3}} &nbsp;</a>
                                    <a class="print-only" href="report_{{fs.name}}">&nbsp; {{$index+3}} &nbsp;</a>
                                </td>
                            </tr>

                        </table>
</script>

<script type="text/ng-template" id="fs_reports.html">

    <div ng-repeat="fs in auditFS.reports" id="report_{{fs.name}}" ngs-if="$index<2" class="page">
        <table class="page-container">
            <thead class="page-header2">
                <tr>
                    <td class="page-gutter">
                        <div class="title page-title">
                            <span class="title1">{{audit.client_name_cap}}</span> <br />
                            <span class="title2">{{fs.title}}</span><br />
                            <span class="title3">{{fs.subTitle}}</span>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="page-content" id="fs_report_{{$index}}"> 
                            <div ng-if="fs.customReport" style="margin-top: -5mm;"  ng-repeat="r in [fs.customReport]" class="fs-content" ng-include="fs.templateUrl">
                            </div>
                        
                            <div ng-if="!fs.customReport" style="margin-top: -5mm;" ng-repeat="r in [fs]"  class="fs-content " ng-include="fs.templateUrl">
                        </div>
                        
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td class="fs-page-footer"><div ng-include="'api/WebContentService/getContent/fs_footer'"></div></td></tr>
            </tfoot>
            
        </table>
    </div>
</script>

<script type="text/ng-template" id="fs_notes.html">
    
    <div class="fs-notes new-page page" id="fs_notes">
        <table class="page-container">
            <thead class="page-header2">
                <tr>
                    <td class="page-gutter">
                        <div class="title page-title">
                            <span class="title1">{{audit.client_name_cap}}</span> <br />
                            <span class="title2">NOTES TO THE FINANACIAL STATEMENTS</span><br />
                            <span class="title3">{{audit.for_year_caps}}</span>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="page-content fs-notes" >
                        <div ng-repeat="note in auditFS.notes track by $index" id="note_{{$index + 1}}" ng-if="note.label" class="fs-note {{note.style}}">
                            <strong>{{$index + 1}} - {{note.label}}</strong>
                            <div ng-if="note.customReport" >
                                <div ng-repeat="r in [note.customReport]" ng-include="'custome_report.html'"></div>
                            </div>
                            <div class="text-note" ng-if="!note.customReport">
                                <div ng-repeat="txtNote in note.textNote" ng-include="txtNote.templateUrl"></div>
                                
                            </div>
                            <div class="sub-note">
                                <div ng-repeat="subNote in note.subNotes track by $index" class="{{subNote.style}}">
                                        <span class="note-index">{{note.index}}.{{lettersArray[$index]}}. </span>
                                        <div ng-include="subNote.templateUrl"></div>
                                </div>
                            </div>
                            
                        </div>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td class="fs-page-footer"><div ng-include="'api/WebContentService/getContent/fs_footer'"></div></td></tr>
            </tfoot>
        </table>
    </div>

</script>

<script type="text/ng-template" id="financial_statement.html">

    <div  ng-if="fsHelper.hiddenCols" class="{{fsHelper.hiddenCols}}">
        <div class="none-print" style="position: fixed;top:100px;right:100px;">
            <button class="btn btn-sm primary" bm-ui-permission="app.audit.printables.fs.design" login-user="app.loginUser" ng-click="fsHelper.showReportDesignWindow()">Design</button>
        </div>
        <div ng-repeat="section in fsHelper.sections" class="{{section.style}}">
            <div ng-if="section.templateUrl" ng-include="section.templateUrl"></div>
            <div ng-if="!section.templateUrl" ng-repeat="p in section.pages">
                
    <div class="page">
        <table class="page-container {{p.style}}">
            <thead class="page-header2">
                <tr>
                    <td class="page-gutter">
                        <div class="page-title">
                            <div class="title">{{p.title}}</div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="page-content" ng-include="p.templateUrl"> 
                        
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td class="fs-page-footer">&nbsp;</td></tr>
            </tfoot>
            
        </table>
    </div>

                
            </div>
        <!--
        <div ng-include="'fs_toc.html'"></div>
        <div ng-include="'fs_reports.html'"></div>
        <div ngs-include="'fs_notes.html'"></div>
-->
    
    </div>
</script>
<div  ng-include ="'app/audit/content/printables/fs/fs_designer_modal.html'" ngs-include-replace>
        </div>
